.mainContainerBtn {
    display: flex;
    /* animation: buttonClick 0.3s ease; */
    transition: transform 1s;
}

button:active {
    transform: scale(2.5);
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.btnSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 220px;
    height: 70px;
    border-radius: 50px;
    position: relative; 
    overflow: hidden;
}

.btnRight button,
.btnLeft button {
    background-color: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    height: 60px;
    width: 210px;
    border-radius: 50px;
}

.btnSpan span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Чтобы span был "под" кнопкой */
    filter: blur(0); /* Исходное значение для размытия */
}

.btnSpan:hover {
    animation: rotate 2s linear infinite;
}
.btnSpan:hover > span:nth-child(1) {
    filter: blur(7px); /* Размытие для первого span */
}

.btnSpan:hover > span:nth-child(2) {
    filter: blur(14px); /* Размытие для второго span */
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}



@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btnRight button:disabled {
    color: #219e10; 
    background-color: #0f0606; 
    cursor: not-allowed; 
    transform:none;
    
}

.btnLeft button:disabled {
    color: #219e10; 
    background-color: #0f0606; 
    cursor: not-allowed; 
    transform:none;
}
