@import '../../vars.css';
.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
    /* background-image: url(../../../assets/contact/contactGif.gif);
    background-size: 100% 350px;
    background-repeat: no-repeat; */
}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link:hover {
    background-image: linear-gradient(to right, #0b5e69, #185518); /* Градиент от красного до зеленого с горизонтальной ориентацией */
    background-size: 200% 100%;  /* Расширяем градиенты на в два раза шире блока */
    transition: background-position 0.4s; 
    background-position: -100% 0;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.telegram {
    width: 50px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: center;
    }
}